<a href="https://colab.research.google.com/github/Alexandre-Alencarf/Alexandre-Alencarf/blob/main/Manipula%C3%A7%C3%A3o_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
import pandas as pd
pd.options.display.float_format = "{:,.2f}".format

In [31]:
linguagens_df = pd.DataFrame({
    "Linguagem": ["Python", "R", "SQL", "C", "Java", "Javascript", "Elixir"], 
    "Popularidade": ["Alta", "Baixa", "Altíssima", "Média", "Altíssima", "Altíssima", "Baixa"],
    "Versão" : [3.10, 4.2, None, None, 11, 16, 1.12],
    "Desenvolvedores" : [7_000_000, 500_000, 20_000_000, 3_500_000, 16_000_000, 25_000_000, 200_000],
    "Data de lançamento" : ["1991-02-20", "1993-08-03", "1986-01-01", "1972-01-01", "1995-05-23", "1995-12-04", "2012-01-01"]
})

In [32]:
dfs = pd.DataFrame(
    data  = [],
    columns = ["Lógica de Programação", "Python", "Data Science", "HTML e CSS", "JavaScript", "React Native"],
    index=[list(range(1,11))]
)
dfs

,Lógica de Programação,Python,Data Science,HTML e CSS,JavaScript,React Native
1,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
dfs["Alunos"] = dfs.mean(axis="columns")
dfs

,Lógica de Programação,Python,Data Science,HTML e CSS,JavaScript,React Native,Alunos
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
dfs.drop(["Alunos"], axis = "columns", inplace=True)

In [35]:
dfs

,Lógica de Programação,Python,Data Science,HTML e CSS,JavaScript,React Native
1,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
import numpy as np
dfs = dfs.apply(lambda nota: np.random.uniform(low=5.0, high=10.0, size=10), axis="index")
dfs

,Lógica de Programação,Python,Data Science,HTML e CSS,JavaScript,React Native
1,8.19,7.88,9.30,7.76,8.66,5.66
2,6.44,9.00,6.20,8.78,8.76,6.17
3,7.85,5.41,9.13,7.74,9.95,8.76
4,5.47,7.25,9.98,7.59,7.54,5.49
5,6.41,5.50,5.62,9.68,8.97,8.52
6,8.18,5.63,9.39,9.93,9.40,6.84
7,6.20,8.23,5.44,5.17,7.18,8.51
8,5.41,9.87,5.71,8.98,7.20,8.49
9,5.24,9.24,8.12,9.35,6.38,9.50
10,5.90,6.47,8.02,7.66,7.20,9.40

In [37]:
dfs.insert(0, "Nome Aluno", ["Maria", "Paulo", "João", "Ana", "Lívia", "Fernanda", "Telmo", "Otávio", "Lúcia", "Maria"], True)
dfs

,Nome Aluno,Lógica de Programação,Python,Data Science,HTML e CSS,JavaScript,React Native
1,Maria,8.19,7.88,9.30,7.76,8.66,5.66
2,Paulo,6.44,9.00,6.20,8.78,8.76,6.17
3,João,7.85,5.41,9.13,7.74,9.95,8.76
4,Ana,5.47,7.25,9.98,7.59,7.54,5.49
5,Lívia,6.41,5.50,5.62,9.68,8.97,8.52
6,Fernanda,8.18,5.63,9.39,9.93,9.40,6.84
7,Telmo,6.20,8.23,5.44,5.17,7.18,8.51
8,Otávio,5.41,9.87,5.71,8.98,7.20,8.49
9,Lúcia,5.24,9.24,8.12,9.35,6.38,9.50
10,Maria,5.90,6.47,8.02,7.66,7.20,9.40

In [38]:
dfs.columns.values[0] = "Aluno"
dfs

,Aluno,Lógica de Programação,Python,Data Science,HTML e CSS,JavaScript,React Native
1,Maria,8.19,7.88,9.30,7.76,8.66,5.66
2,Paulo,6.44,9.00,6.20,8.78,8.76,6.17
3,João,7.85,5.41,9.13,7.74,9.95,8.76
4,Ana,5.47,7.25,9.98,7.59,7.54,5.49
5,Lívia,6.41,5.50,5.62,9.68,8.97,8.52
6,Fernanda,8.18,5.63,9.39,9.93,9.40,6.84
7,Telmo,6.20,8.23,5.44,5.17,7.18,8.51
8,Otávio,5.41,9.87,5.71,8.98,7.20,8.49
9,Lúcia,5.24,9.24,8.12,9.35,6.38,9.50
10,Maria,5.90,6.47,8.02,7.66,7.20,9.40

In [39]:
dfs["Média"] = dfs.mean(axis = "columns")
dfs

<ipython-input-39-a14b43212ac2>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  dfs["Média"] = dfs.mean(axis = "columns")

,Aluno,Lógica de Programação,Python,Data Science,HTML e CSS,JavaScript,React Native,Média
1,Maria,8.19,7.88,9.30,7.76,8.66,5.66,7.91
2,Paulo,6.44,9.00,6.20,8.78,8.76,6.17,7.56
3,João,7.85,5.41,9.13,7.74,9.95,8.76,8.14
4,Ana,5.47,7.25,9.98,7.59,7.54,5.49,7.22
5,Lívia,6.41,5.50,5.62,9.68,8.97,8.52,7.45
6,Fernanda,8.18,5.63,9.39,9.93,9.40,6.84,8.23
7,Telmo,6.20,8.23,5.44,5.17,7.18,8.51,6.79
8,Otávio,5.41,9.87,5.71,8.98,7.20,8.49,7.61
9,Lúcia,5.24,9.24,8.12,9.35,6.38,9.50,7.97
10,Maria,5.90,6.47,8.02,7.66,7.20,9.40,7.44

In [40]:
dfs["Situação"] = dfs["Média"].map(lambda media: "AP" if media>7 else "RP")
dfs

,Aluno,Lógica de Programação,Python,Data Science,HTML e CSS,JavaScript,React Native,Média,Situação
1,Maria,8.19,7.88,9.30,7.76,8.66,5.66,7.91,AP
2,Paulo,6.44,9.00,6.20,8.78,8.76,6.17,7.56,AP
3,João,7.85,5.41,9.13,7.74,9.95,8.76,8.14,AP
4,Ana,5.47,7.25,9.98,7.59,7.54,5.49,7.22,AP
5,Lívia,6.41,5.50,5.62,9.68,8.97,8.52,7.45,AP
6,Fernanda,8.18,5.63,9.39,9.93,9.40,6.84,8.23,AP
7,Telmo,6.20,8.23,5.44,5.17,7.18,8.51,6.79,RP
8,Otávio,5.41,9.87,5.71,8.98,7.20,8.49,7.61,AP
9,Lúcia,5.24,9.24,8.12,9.35,6.38,9.50,7.97,AP
10,Maria,5.90,6.47,8.02,7.66,7.20,9.40,7.44,AP

In [41]:
dfs.rename(str.upper, axis="columns", inplace=True)
dfs

,ALUNO,LÓGICA DE PROGRAMAÇÃO,PYTHON,DATA SCIENCE,HTML E CSS,JAVASCRIPT,REACT NATIVE,MÉDIA,SITUAÇÃO
1,Maria,8.19,7.88,9.30,7.76,8.66,5.66,7.91,AP
2,Paulo,6.44,9.00,6.20,8.78,8.76,6.17,7.56,AP
3,João,7.85,5.41,9.13,7.74,9.95,8.76,8.14,AP
4,Ana,5.47,7.25,9.98,7.59,7.54,5.49,7.22,AP
5,Lívia,6.41,5.50,5.62,9.68,8.97,8.52,7.45,AP
6,Fernanda,8.18,5.63,9.39,9.93,9.40,6.84,8.23,AP
7,Telmo,6.20,8.23,5.44,5.17,7.18,8.51,6.79,RP
8,Otávio,5.41,9.87,5.71,8.98,7.20,8.49,7.61,AP
9,Lúcia,5.24,9.24,8.12,9.35,6.38,9.50,7.97,AP
10,Maria,5.90,6.47,8.02,7.66,7.20,9.40,7.44,AP

In [42]:
linguagens_df.rename(str.lower, axis="columns", inplace=True)
linguagens_df

    linguagem popularidade  versão  desenvolvedores data de lançamento
0      Python         Alta    3.10          7000000         1991-02-20
1           R        Baixa    4.20           500000         1993-08-03
2         SQL    Altíssima     NaN         20000000         1986-01-01
3           C        Média     NaN          3500000         1972-01-01
4        Java    Altíssima   11.00         16000000         1995-05-23
5  Javascript    Altíssima   16.00         25000000         1995-12-04
6      Elixir        Baixa    1.12           200000         2012-01-01

In [50]:
linguagens_df.rename(columns={"linguagem":"linguagens"}, inplace=True)
linguagens_df

   linguagens popularidade  versão  desenvolvedores data_de_lançamento
A      PYTHON         Alta    3.10          7000000         1991-02-20
B           R        Baixa    4.20           500000         1993-08-03
C         SQL    Altíssima     NaN         20000000         1986-01-01
D           C        Média     NaN          3500000         1972-01-01
E        JAVA    Altíssima   11.00         16000000         1995-05-23
F  JAVASCRIPT    Altíssima   16.00         25000000         1995-12-04
G      ELIXIR        Baixa    1.12           200000         2012-01-01

In [52]:
linguagens_df.columns=linguagens_df.columns.str.replace(" ", "_")
linguagens_df

   linguagens popularidade  versão  desenvolvedores data_de_lançamento
A      PYTHON         Alta    3.10          7000000         1991-02-20
B           R        Baixa    4.20           500000         1993-08-03
C         SQL    Altíssima     NaN         20000000         1986-01-01
D           C        Média     NaN          3500000         1972-01-01
E        JAVA    Altíssima   11.00         16000000         1995-05-23
F  JAVASCRIPT    Altíssima   16.00         25000000         1995-12-04
G      ELIXIR        Baixa    1.12           200000         2012-01-01

In [53]:
dfs.columns=dfs.columns.str.lower().str.replace(" ", "_")
dfs

,aluno,lógica_de_programação,python,data_science,html_e_css,javascript,react_native,média,situação
1,Maria,8.19,7.88,9.30,7.76,8.66,5.66,7.91,AP
2,Paulo,6.44,9.00,6.20,8.78,8.76,6.17,7.56,AP
3,João,7.85,5.41,9.13,7.74,9.95,8.76,8.14,AP
4,Ana,5.47,7.25,9.98,7.59,7.54,5.49,7.22,AP
5,Lívia,6.41,5.50,5.62,9.68,8.97,8.52,7.45,AP
6,Fernanda,8.18,5.63,9.39,9.93,9.40,6.84,8.23,AP
7,Telmo,6.20,8.23,5.44,5.17,7.18,8.51,6.79,RP
8,Otávio,5.41,9.87,5.71,8.98,7.20,8.49,7.61,AP
9,Lúcia,5.24,9.24,8.12,9.35,6.38,9.50,7.97,AP
10,Maria,5.90,6.47,8.02,7.66,7.20,9.40,7.44,AP

In [54]:
linguagens_df.rename(
    index={0:"A", 1:"B", 2:"C", 3:"D", 4:"E", 5:"F", 6:"G"},
    inplace=True
)
linguagens_df

   linguagens popularidade  versão  desenvolvedores data_de_lançamento
A      PYTHON         Alta    3.10          7000000         1991-02-20
B           R        Baixa    4.20           500000         1993-08-03
C         SQL    Altíssima     NaN         20000000         1986-01-01
D           C        Média     NaN          3500000         1972-01-01
E        JAVA    Altíssima   11.00         16000000         1995-05-23
F  JAVASCRIPT    Altíssima   16.00         25000000         1995-12-04
G      ELIXIR        Baixa    1.12           200000         2012-01-01

In [56]:
linguagens_df["linguagens"]=linguagens_df["linguagens"].apply(lambda txt: txt.upper())
linguagens_df

   linguagens popularidade  versão  desenvolvedores data_de_lançamento
A      PYTHON         Alta    3.10          7000000         1991-02-20
B           R        Baixa    4.20           500000         1993-08-03
C         SQL    Altíssima     NaN         20000000         1986-01-01
D           C        Média     NaN          3500000         1972-01-01
E        JAVA    Altíssima   11.00         16000000         1995-05-23
F  JAVASCRIPT    Altíssima   16.00         25000000         1995-12-04
G      ELIXIR        Baixa    1.12           200000         2012-01-01

In [57]:
dfs["média"].max()

8.227569126363475

In [58]:
linguagens_df["versão"].max()

16.0

In [59]:
dfs["média"].min()

6.788494643250051

In [62]:
linguagens_df["desenvolvedores"]

A     7000000
B      500000
C    20000000
D     3500000
E    16000000
F    25000000
G      200000
Name: desenvolvedores, dtype: int64

In [63]:
linguagens_df["desenvolvedores"].sum()

72200000

In [65]:
linguagens_df

   linguagens popularidade  versão  desenvolvedores data_de_lançamento
A      PYTHON         Alta    3.10          7000000         1991-02-20
B           R        Baixa    4.20           500000         1993-08-03
C         SQL    Altíssima     NaN         20000000         1986-01-01
D           C        Média     NaN          3500000         1972-01-01
E        JAVA    Altíssima   11.00         16000000         1995-05-23
F  JAVASCRIPT    Altíssima   16.00         25000000         1995-12-04
G      ELIXIR        Baixa    1.12           200000         2012-01-01

In [66]:
linguagens_df.count(axis="columns")

A    5
B    5
C    4
D    4
E    5
F    5
G    5
dtype: int64

In [68]:
from numpy.core.fromnumeric import transpose
linguagens_df.count(axis="index").transpose()

linguagens            7
popularidade          7
versão                5
desenvolvedores       7
data_de_lançamento    7
dtype: int64

In [69]:
from numpy.core.fromnumeric import transpose
linguagens_df.count(axis="index").to_frame().transpose()

   linguagens  popularidade  versão  desenvolvedores  data_de_lançamento
0           7             7       5                7                   7

In [70]:
linguagens_df["popularidade"]

A         Alta
B        Baixa
C    Altíssima
D        Média
E    Altíssima
F    Altíssima
G        Baixa
Name: popularidade, dtype: object

In [71]:
linguagens_df.value_counts(subset="popularidade")

popularidade
Altíssima    3
Baixa        2
Alta         1
Média        1
dtype: int64

In [72]:
linguagens_df.sort_values(by="desenvolvedores", ascending=False)

   linguagens popularidade  versão  desenvolvedores data_de_lançamento
F  JAVASCRIPT    Altíssima   16.00         25000000         1995-12-04
C         SQL    Altíssima     NaN         20000000         1986-01-01
E        JAVA    Altíssima   11.00         16000000         1995-05-23
A      PYTHON         Alta    3.10          7000000         1991-02-20
D           C        Média     NaN          3500000         1972-01-01
B           R        Baixa    4.20           500000         1993-08-03
G      ELIXIR        Baixa    1.12           200000         2012-01-01

In [73]:
linguagens_df

   linguagens popularidade  versão  desenvolvedores data_de_lançamento
A      PYTHON         Alta    3.10          7000000         1991-02-20
B           R        Baixa    4.20           500000         1993-08-03
C         SQL    Altíssima     NaN         20000000         1986-01-01
D           C        Média     NaN          3500000         1972-01-01
E        JAVA    Altíssima   11.00         16000000         1995-05-23
F  JAVASCRIPT    Altíssima   16.00         25000000         1995-12-04
G      ELIXIR        Baixa    1.12           200000         2012-01-01

In [74]:
linguagens_df["data_de_lançamento"]

A    1991-02-20
B    1993-08-03
C    1986-01-01
D    1972-01-01
E    1995-05-23
F    1995-12-04
G    2012-01-01
Name: data_de_lançamento, dtype: object

In [77]:
from datetime import datetime
linguagens_df["data_de_lançamento"]=linguagens_df["data_de_lançamento"].map(lambda dtstr: datetime.strptime(dtstr, "%Y-%m-%d"))
linguagens_df.dtypes

linguagens                    object
popularidade                  object
versão                       float64
desenvolvedores                int64
data_de_lançamento    datetime64[ns]
dtype: object