<a href="https://colab.research.google.com/github/Alexandre-Alencarf/Alexandre-Alencarf/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
jogadores = pd.read_csv("/content/jogadores - jogadores.csv")
display(jogadores)

,Nome completo do jogador,Altura em cm,Peso em kg,Time que o jogador participou,Data de nascimento do jogador,Cidade onde o jogador nasceu.,Estado onde o jogador nasceu
0,Neymar da Silva Santos Júnior,1.75,68,Santos,1992,Mogi das Cruzes,São Paulo
1,Ronaldo de Assis Moreira,1.82,100,Grêmio,1980,Portp Alegre,Rio Grande do Sul
2,Ronaldo Luís Nazário de Lima,1.82,130,Cruzeiro,1976,Rio de Janeiro,Rio de Janeiro
3,Edson Arantes do Nascimento,1.73,80,Bauru,1940,Três Corações,Minas Gerais
4,Gabriel Barbosa Almeida,1.78,68,São Bernardo,1996,Goiânia,Goias
5,Eduardo Pereira Rodrigues,1.66,63,Cruzeiro,1992,Goiânia,Goias
6,Manoel Francisco dos Santos,1.69,85,Pau Grande,1933,Magé,Rio de Janeiro
7,Arthur Antunes Coimbra,1.72,90,Flamengo,1953,Rio de Janeiro,Rio de Janeiro
8,Ronielson da Silva Barbosa,1.67,65,Palmeiras,1995,Magalhães Barata,Pará

In [4]:
#mostra número de linhas e colunas
print(jogadores.shape)

(9, 7)

In [5]:
#descrição = describe
jogadores = pd.read_csv("/content/jogadores - jogadores.csv")
jogadores = pd.DataFrame(jogadores)
display(jogadores.describe())

       Altura em cm  Peso em kg  Data de nascimento do jogador
count      9.000000    9.000000                       9.000000
mean       1.737778   83.222222                    1973.000000
std        0.059954   21.603112                      24.703239
min        1.660000   63.000000                    1933.000000
25%        1.690000   68.000000                    1953.000000
50%        1.730000   80.000000                    1980.000000
75%        1.780000   90.000000                    1992.000000
max        1.820000  130.000000                    1996.000000

In [7]:
#Qual a média da altura dos jogadores
jogadores["Altura em cm"].mean()

1.7377777777777776

In [8]:
#Qual a maior altura dos jogadores
jogadores["Altura em cm"].max()

1.82

In [9]:
#Qual a menor altura dos jogadores
jogadores["Altura em cm"].min()

1.66

In [16]:
#Qual o jogador mais leve para o mais pesado
jogadores["IMC"] = jogadores["Peso em kg"]/jogadores["Altura em cm"] **2
display(jogadores)

,Nome completo do jogador,Altura em cm,Peso em kg,Time que o jogador participou,Data de nascimento do jogador,Cidade onde o jogador nasceu.,Estado onde o jogador nasceu,IMC
0,Neymar da Silva Santos Júnior,1.75,68,Santos,1992,Mogi das Cruzes,São Paulo,22.204082
1,Ronaldo de Assis Moreira,1.82,100,Grêmio,1980,Portp Alegre,Rio Grande do Sul,30.189591
2,Ronaldo Luís Nazário de Lima,1.82,130,Cruzeiro,1976,Rio de Janeiro,Rio de Janeiro,39.246468
3,Edson Arantes do Nascimento,1.73,80,Bauru,1940,Três Corações,Minas Gerais,26.729927
4,Gabriel Barbosa Almeida,1.78,68,São Bernardo,1996,Goiânia,Goias,21.461937
5,Eduardo Pereira Rodrigues,1.66,63,Cruzeiro,1992,Goiânia,Goias,22.862534
6,Manoel Francisco dos Santos,1.69,85,Pau Grande,1933,Magé,Rio de Janeiro,29.760863
7,Arthur Antunes Coimbra,1.72,90,Flamengo,1953,Rio de Janeiro,Rio de Janeiro,30.421850
8,Ronielson da Silva Barbosa,1.67,65,Palmeiras,1995,Magalhães Barata,Pará,23.306680

# Nova seção

In [17]:
jogadores.loc[:,["Nome completo do jogador","IMC"]]

        Nome completo do jogador        IMC
0  Neymar da Silva Santos Júnior  22.204082
1       Ronaldo de Assis Moreira  30.189591
2   Ronaldo Luís Nazário de Lima  39.246468
3    Edson Arantes do Nascimento  26.729927
4        Gabriel Barbosa Almeida  21.461937
5      Eduardo Pereira Rodrigues  22.862534
6    Manoel Francisco dos Santos  29.760863
7         Arthur Antunes Coimbra  30.421850
8     Ronielson da Silva Barbosa  23.306680